
body 
{
	color: #5A5A5A;
	padding-bottom: 40px;
}

.clearer
{
    clear: both;
    font-size: 0px;
    line-height: 0;
    height: 0px;
    overflow: hidden;
}

/* ------ Custom CSS ------- */

.row h1 
{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;

}

#footer 
{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
} 

#footer a
{ } .hyperlink:hover, .hyperlink {
  color: #6B6B6B;

}

.hyperlink:active, .hyperlink:visited 
{
  color: #3B3B3B;
}

/*.jumbotron 
{
  position: absolute;
  padding-top: 70px;
  top: 0 auto;
  z-index: 1;
}*/

.imageClip
{
	width:140px;
	height:140px;
	overflow:hidden;
}

.img-circle 
{
background:#555;
width: 130px;
height: 130px;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}

#toolbar
{
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 100;
}


#toolbar .navbar
{
	min-height: 0px;
}

#toolbar .navbar-form
{
	margin: 0;
}

#toolbar .nav > li > a
{
	padding: 8px;
}

/** editor styles */
.cke_top
{
	z-index: 200;
}

.marketing .span4 
{
	text-align: center;
}
.marketing h2 
{
	font-weight: normal;
}
.marketing .span4 p 
{
	margin-left: 10px;
	margin-right: 10px;
}
.featurette-divider 
{
	margin: 80px 0;
}
.featurette 
{
	overflow: hidden;
	padding-top: 120px;
}
.featurette-image 
{
	margin-top: -120px;
}
.featurette-image.pull-left 
{
	margin-right: 40px;
}
.featurette-image.pull-right 
{
	margin-left: 40px;
}
.featurette-heading 
{
	font-size: 50px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 1;
}
@media (max-width: 979px) 
{
.container.navbar-wrapper 
{
	margin-bottom: 0;
	margin-top: 0;
	width: auto;
}
.navbar-inner 
{
	border-radius: 0 0 0 0;
	margin: -20px 0;
}
.carousel .item 
{
	height: 500px;
}
.carousel img 
{
	height: 500px;
	width: auto;
}
.featurette 
{
	height: auto;
	padding: 0;
}
.featurette-image.pull-left, .featurette-image.pull-right 
{
	display: block;
	float: none;
	margin: 0 auto 20px;
	max-width: 40%;
}
}
@media (max-width: 767px) 
{
.navbar-inner 
{
	margin: -20px;
}
.carousel 
{
	margin-left: -20px;
	margin-right: -20px;
}
.carousel .container 
{
}
.carousel .item 
{
	height: 300px;
}
.carousel img 
{
	height: 300px;
}
.carousel-caption 
{
	margin-top: 100px;
	padding: 0 70px;
	width: 65%;
}
.carousel-caption h1 
{
	font-size: 30px;
}
.carousel-caption .lead, .carousel-caption .btn 
{
	font-size: 18px;
}
.marketing .span4 + .span4 
{
	margin-top: 40px;
}
.featurette-heading 
{
	font-size: 30px;
}
.featurette .lead 
{
	font-size: 18px;
	line-height: 1.5;
}
}
