/*
 * Miscilanious page independent css
 */

/* PRINTING PAGE ---------------------- */
/* make the images smaller */
.printerimg {
	float: left;
	padding-bottom: 2em;
	padding-right: 2em;
}

/* center the content in the accordian containers */
.printerbdy {
	margin: 0 auto;
	overflow: auto;
}
/* END PRINTING PAGE ------------------- */

.jumbotron-title
{
	box-shadow: 0 5px 5px #aaa;
}

.jumbotron-red
{
	background-color: #c1212f !important;
	color: #fff;
}
.jumbotron-green
{
	background-color: #35a71c !important;
	color: #fff;
}
.jumbotron-purple
{
	background-color: #601d85 !important;
	color: #fff;
}
.jumbotron-yellow
{
	background-color: #c8c822 !important;
	color: #fff;
}

