/*
 * Miscilanious page independent css
 */

/* PRINTING PAGE ---------------------- */
/* make the images smaller */
.printerimg {
	float: left;
	padding-bottom: 2em;
	padding-right: 2em;
}

/* center the content in the accordian containers */
.printerbdy {
	margin: 0 auto;
	overflow: auto;
}
/* END PRINTING PAGE ------------------- */

.jumbotron-title
{
	box-shadow: 0 5px 5px #aaa;
	padding-left: 0 !important;
}
.jumbotron-red
{
	background-color: #c1212f !important;
	color: #fff;
}
.jumbotron-green
{
	background-color: #35a71c !important;
	color: #fff;
}
.jumbotron-purple
{
	background-color: #601d85 !important;
	color: #fff;
}
.jumbotron-yellow
{
	background-color: #c8c822 !important;
	color: #fff;
}

.bg-red
{
	background-color: #c1212f !important;
}
.bg-green
{
	background-color: #35a71c !important;
}
.bg-purple
{
	background-color: #601d85 !important;
}
.bg-yellow
{
	background-color: #c8c822 !important;
}

.timage
{
	margin-left: 1em;
	margin-right: 1em;
	height: 100%;
	max-width: 100%;
	display: inline;
	vertical-align: top !important;
}

.tble
{
	width: 100%;
	position: relative;
}

.tmove-right
{
	margin-left: 50%;
}

.tmove-left
{
	text-align: left;
	margin-right: 50%;
}

.tfill-right
{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.tfill-left
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

.tcell
{
	min-height: 100px;
	width: 50%;
}

.cke_menu
{
	z-index: 500;
}

.cke_editable
{
	z-index: 0;
}

.circle
{
	border: 1px solid black;
	border-radius: 50%;
}

.full
{
	height: 100%;
	width: 100%;
}
