/*
 * Css for slideshow on homepage
 */

#homeSlideshow .carousel-control 
{
	background-color: transparent;
	border: 0 none;
	font-size: 20px;
	margin-top: 0 auto;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	z-index: 10;
}
#homeSlideshow .carousel-inner .item,
#homeSlideshow .carousel-inner
{
	height: 100%;
	width: 100%;
}
#homeSlideshow .carousel-inner img 
{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: auto;
	display: block;
}
#homeSlideshow
{
	height: 70%;
	margin-top: 40px;
	box-shadow: 0px 5px 5px #aaa;
}

#tplSlideshow
{
	text-align: center;	
}
#tplSlideshow .carousel-inner img
{
	width: 100% !important;
	height: auto !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
